HostForGame/Connected Services/ServiceServerGame/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceModels" />
  <xs:element name="GetConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="newPlayer" nillable="true" type="q1:SPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="AddPlayerResult" nillable="true" type="q2:SPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="newPlayer" nillable="true" type="q3:SPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="CheckPlayerResult" nillable="true" type="q4:SPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>